section {
  background-image: url("/assets/img/bg_jumbotron.jpg");
  background-size: cover;
  background-position: center;
  height: 18rem;
  padding: 0;
  display: flex;
  align-items: center;

  h1, p {
    color: white;
  }

  .ms_small_container {
    width: 80%;
    margin: 0 auto;
  }
}
