<!-- SECTION: Grid-Articles -->
<section id="grid-articles" class="py-4">
  <!-- HEADING -->
  <div class="container mb-4">
    <div class="row align-items-center">
      <h1 class="col">Prodotti Disponibili</h1>
      <div class="col-3">
        <button class="btn btn-outline-secondary ms-2">Esporta</button>
        <button class="btn btn-outline-secondary ms-2">Importa</button>
        <button class="btn btn-primary ms-2">Crea</button>
      </div>
    </div>
  </div>
  <div class="container">
    <!-- GRID - HEADER -->
    <div class="row grid-header justify-content-between align-items-center">
      <div class="col-4">
        <!-- Input: Descrizione -->
        <input type="text" placeholder="Cerca..." [(ngModel)]="filter" (keyup.enter)="refresh()" >
      </div>
      <div class="col-4">
        <div class="d-flex justify-content-between">
          <!-- Select - Tutti -->
          <select class="form-select">
            <option selected>Tutti</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
          <!-- Select - Nuovi -->
          <select class="form-select ms-3">
            <option selected>Nuovi</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
      </div>
    </div>
    <!-- GRID - BODY -->
    <div class="row grid-body">
      <!-- Product CARD -->
      <table id="articoli" class="table table-hover mb-5">
        <thead>
          <tr>
            <th scope="col">CodArt</th>
            <th scope="col">Descrizione</th>
            <th scope="col">Um</th>
            <th scope="col">CodStat</th>
            <th scope="col">Pezzi</th>
            <th scope="col">Peso(KG/LT)</th>
            <th scope="col">IdStatoArt</th>
            <th scope="col">Prezzo</th>
            <th scope="col">Active</th>
            <th scope="col">Data</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody *ngIf="error$.message != errorMessages.ServerNonDisponibile">
          <tr *ngFor="let articolo of articoli$">
            <td>{{ articolo.codArt }}</td>
            <td>{{ articolo.descrizione }}</td>
            <td>{{ articolo.um }}</td>
            <td>{{ articolo.codStat }}</td>
            <td>{{ articolo.pzCart }}</td>
            <td>{{ articolo.pesoNetto }}</td>
            <td class="text-center">
              <span class="badge rounded-pill" [ngClass]="{'bg-success': articolo.idStatoArt === statoArt.Attivo,
              'bg-warning text-dark': articolo.idStatoArt === statoArt.Sospeso, 'bg-danger': articolo.idStatoArt === statoArt.Eliminato}">
                {{ articolo.idStatoArt }}
              </span>
            </td>
            <td>{{ articolo.prezzo | currency:"EUR" }}</td>
            <td>{{ articolo.active }}</td>
            <td>{{ articolo.dataCreazione | date:"dd-MM-yyyy" }}</td>
            <td class="btn-group">
              <button type="button" class="btn btn-light text-danger me-3"
              (click)="deleteArt(articolo.codArt)">Elimina</button>
              <button type="button" class="btn btn-light fw-bold" data-bs-toggle="dropdown" aria-expanded="false">
                ...
              </button>
              <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" href="#">Dettaglio</a></li>
                <li><a class="dropdown-item" href="#">Info</a></li>
                <li><a class="dropdown-item" href="#">Modifica</a></li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>

      <!-- *** ALERT MESSAGE *** -->
      <!-- Operation Success -  -->
      <div *ngIf="respObj$.code" id="successAlert" class="alert alert-success" role="alert">
        {{ respObj$.message }}
      </div>
      <!-- Operation Error -->
      <div *ngIf="error$.message != ''" id="errorAlert" class="alert alert-danger" role="alert">
        {{ error$.message }}
      </div>

      <!-- *** PAGINATION *** -->
      <ul *ngIf="error$.code !== 0" class="pagination justify-content-end">

        <!-- Previous Page -->
        <li class="page-item" [ngClass]="{'disabled pe-none': pagination$.currentPage==1}">
          <a class="page-link" (click)="pageChange(pagination$.currentPage-1)">Previous</a>
        </li>

        <!-- Loop: Page Number - NEW VERSION -->
        <ng-template ngFor let-pageNr [ngForOf]="pagination$.totalPagesArray">
          <li *ngIf="shouldDisplayPageNr(pageNr)" [ngClass]="{'active': isCurrentPageNr(pageNr)}" class="page-item">
            <a class="page-link" #pageNrElement (click)="pageChange(pageNr)">
              {{ displayPageNr(pageNr) }}
              <!-- {{ pageNr }} -->
            </a>
          </li>
        </ng-template>

        <!-- Next Page -->
        <li class="page-item" [class]="pagination$.currentPage==pagination$.totalPages ? 'disabled pe-none' : ''">
          <a class="page-link" (click)="pageChange(pagination$.currentPage+1)">Next</a>
        </li>

      </ul>
      <!-- *** PAGINATION - END *** -->

    </div>
  </div>
</section>
