services:
  ###---- BACK-END - ARTICLE-MANAGEMENT ----###
  article-management:
    image: ${SPR_BT__DKR_IMAGE}:${ART_MNG__SVC_NAME}
    build:
      context: ${SPR_BT__DKR_CONTEXT}
      dockerfile: ${SPR_BT__DKR_FILE}
      args:
        - JAR_FILE=${ART_MNG__JAR_FILE}
    restart: ${ART_MNG__RESTART}
    container_name: ${ART_MNG__SVC_NAME}
    networks: 
      alphashop:
        aliases: 
          - ${ART_MNG__SVC_NAME}
    ports:
      - ${ART_MNG__PORTS}
    environment:
      - SPRING_PROFILES_ACTIVE=${ART_MNG__SPR_PROFILE}
    depends_on:
      - ${PGSQL_SVC_NAME}

  postgresql:
    image: ${PGSQL_DKR_IMAGE}
    restart: ${PGSQL_RESTART}
    container_name: ${PGSQL_SVC_NAME}
    volumes: 
      - ${PGSQL_SVC_NAME}:${PGSQL_CONTAINER_DATA}
    networks: 
      alphashop:
        aliases: 
          - ${PGSQL_SVC_NAME}
    ports:
      - ${PGSQL_PORTS}
    environment:
      - POSTGRES_DB=${PGSQL_INITIAL_DB}
      - POSTGRES_PASSWORD=${PGSQL_PWD}

  pgadmin:
    image: ${PGADMIN_IMAGE}
    restart: ${PGADMIN_RESTART}
    container_name: ${PGADMIN_SVC_NAME}
    user: ${PGADMIN_USER}
    networks:
      alphashop:
        aliases: 
          - ${PGADMIN_SVC_NAME}
    ports: 
      - ${PGADMIN_PORTS}
    volumes:
      - ${PGADMIN_SVC_NAME}:${PGADMIN_CONTAINER_DATA}
    environment:
      - PGADMIN_CONFIG_SERVER_MODE=${PGADMIN_CONFIG_SERVER_MODE}
      - PGADMIN_DEFAULT_EMAIL=${PGADMIN_DEFAULT_EMAIL}
      - PGADMIN_DEFAULT_PASSWORD=${PGADMIN_DEFAULT_PWD}
    depends_on:
      - ${PGSQL_SVC_NAME}

  ###---- BACK-END - USER-MANAGEMENT ----###
  user-management:
    image: ${SPR_BT__DKR_IMAGE}:${USR_MNG__SVC_NAME}
    build:
      context: ${SPR_BT__DKR_CONTEXT}
      dockerfile: ${SPR_BT__DKR_FILE}
      args:
        - JAR_FILE=${USR_MNG__JAR_FILE}
    restart: ${USR_MNG__RESTART}
    container_name: ${USR_MNG__SVC_NAME}
    ports:
      - ${USR_MNG__PORTS}
    environment:
      - SPRING_PROFILES_ACTIVE=${USR_MNG__SPR_PROFILE}
    networks: 
      alphashop:
        aliases: 
          - ${USR_MNG__SVC_NAME}

  mongodb:
    image: ${MGDB_DKR_IMAGE}
    restart: ${MGDB_RESTART}
    container_name: ${MGDB_SVC_NAME}
    volumes: 
      # Lo script JS viene eseguito solo al primo avvio (volume vuoto)
      - ./database/mongodb/init-mongo-users.js:/docker-entrypoint-initdb.d/init-mongo-users.js:ro
      
      - ${MGDB_SVC_NAME}-data:${MGDB_CONTAINER_DATA}
      - ${MGDB_SVC_NAME}-config:${MGDB_CONTAINER_CONFIG}
      - ${MGDB_SVC_NAME}-log:${MGDB_CONTAINER_LOG}
    ports:
      - ${MGDB_PORTS}
    environment:
      - MONGO_INITDB_ROOT_USERNAME=admin
      - MONGO_INITDB_ROOT_PASSWORD=pass123
      - MONGO_INITDB_DATABASE=ms-users
    networks:
      alphashop:
        aliases:
          - ${MGDB_SVC_NAME}

  ###---- BACK-END - JWT-AUTH ----###
  jwt-auth:
    image: ${SPR_BT__DKR_IMAGE}:${JWT_AUTH__SVC_NAME}
    build:
      context: ${SPR_BT__DKR_CONTEXT}
      dockerfile: ${SPR_BT__DKR_FILE}
      args:
        - JAR_FILE=${JWT_AUTH__JAR_FILE}
    restart: ${JWT_AUTH__RESTART}
    container_name: ${JWT_AUTH__SVC_NAME}
    ports:
      - ${JWT_AUTH__PORTS}
    environment:
      - SPRING_PROFILES_ACTIVE=${JWT_AUTH__SPR_PROFILE}
    depends_on:
        - ${USR_MNG__SVC_NAME}
    networks: 
      alphashop:
        aliases: 
          - ${JWT_AUTH__SVC_NAME}

  ###---- FRONT-END - ALPHASHOP-NGINX ----###
  nginx:
    image: ${NGINX_DKR_IMAGE}
    build:
      context: ${NGINX_DKR_CONTEXT}
      dockerfile: ${NGINX_DKR_FILE}    
    restart: ${NGINX_RESTART}
    container_name: ${NGINX_SVC_NAME}
    ports:
      - ${NGINX_PORTS}
    environment:
      # Set docker network service alias. 
      # Used in 'nginx.conf' as host for routes
      - ART_MNG__HOST=${ART_MNG__SVC_NAME}
      - USR_MNG__HOST=${USR_MNG__SVC_NAME}
      - JWT_AUTH__HOST=${JWT_AUTH__SVC_NAME}
      #
      # The backend services' internal port.
      # Used in 'nginx.conf' to redirect requests '/api/...'
      - API_PORT=${SPR_BT__INTERNAL_PORT}
    depends_on:
      - ${ART_MNG__SVC_NAME}
      - ${USR_MNG__SVC_NAME}
      - ${JWT_AUTH__SVC_NAME}
    networks:
      alphashop:
        aliases:
          - ${NGINX_SVC_NAME}

###---- COMMONS - Networks and Volumes ----###
networks:
  alphashop:
    name: ${NTWK_ALPHASHOP__NAME}
    driver: ${NTWK_ALPHASHOP__DRIVER}
    ipam:
      driver: ${NTWK_ALPHASHOP__IPAM_DRIVER}
      config:
        - subnet: ${NTWK_ALPHASHOP__IPAM_SUBNET}

volumes:
  postgresql:
    name: ${PGSQL_SVC_NAME}
  mongodb-data:
    name: ${MGDB_SVC_NAME}-data
  mongodb-config:
    name: ${MGDB_SVC_NAME}-config
  mongodb-log:
    name: ${MGDB_SVC_NAME}-log
  pgadmin:
    name: ${PGADMIN_SVC_NAME}