<!-- JumbotronComponent -->
<app-jumbotron [title]="title" [subtitle]="subtitle"></app-jumbotron>

<!-- Form Login -->
<section class="form-signin">
  <form #f="ngForm" (ngSubmit)="gestAuth(f)">
    <h1 class="h3 mb-3 fw-normal">Login</h1>
    <div class="form-floating">
      <input type="text" class="form-control"
             id="username" name="username" placeholder="Username"
             ngModel
      >
      <label for="username">Username</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control"
             id="password" name="password" placeholder="Password"
             ngModel
      >
      <label for="password">Password</label>
    </div>

    <div class="my-3">
      <label>
        <a routerLink="password-recovery">Forgot your password?</a>
      </label>
    </div>
    <button class="w-100 btn btn-lg btn-primary"
            >Login</button>

    <!-- Auth Failed - Error Message -->
    <div *ngIf="!authenticated" class="alert alert-danger mt-4" role="alert">
      {{ errMsg }}
    </div>
  </form>
</section>
