<!-- VALID -->
@if (showValidMsg()) {
  <div>
    <div class="valid-feedback d-block">{{IS_VALID_MSG}}</div>
  </div>
}

<!-- INVALID - Show only if there are frontend or backend errors -->
@if (isFrontendInvalid() || beErrorMsgs.length > 0) {
  <!-- Frontend - Error -->
  @if (isFrontendInvalid()) {
    <div  class="invalid-feedback d-block">
      FE: {{ getFeErrorMsg() }}
    </div>
  }
  <!-- Backend - Error -->
  @if (!isFrontendInvalid()) {
    <div
      class="invalid-feedback d-block"
      [class.pointed-list]="beErrorMsgs.length > 1">
      BE: {{ beErrorMsgs[0] }}
    </div>
  }
}
