<section id="grid-articles" class="py-4">
  <!-- HEADING -->
  <div class="container mb-4">
    <div class="row align-items-center">
      <h1 class="col">Griglia Prodotti</h1>
      <div class="col-3">
        <button class="btn btn-outline-secondary ms-2">Esporta</button>
        <button class="btn btn-outline-secondary ms-2">Importa</button>
        <button class="btn btn-primary ms-2">Crea</button>
      </div>
    </div>
  </div>

  <div class="container">
    <!-- GRID - HEADER -->
    <div class="row grid-header justify-content-between align-items-center">
      <div class="col-4">
        <input type="text" placeholder="Cerca...">
      </div>
      <div class="col-4">
        <div class="d-flex justify-content-between">
          <!-- Select - Tutti -->
          <select class="form-select">
            <option selected>Tutti</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
          <!-- Select - Tutti -->
          <select class="form-select ms-3">
            <option selected>Nuovi</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
      </div>
    </div>
    <!-- GRID - BODY -->
    <div class="row row-cols-1 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 row-cols-xl-6 grid-body">
      <!-- Product CARD -->
      <div class="col" *ngFor="let n of numberIterates">
        <div class="card">
          <img src="https://www.tutto-buono.it/media/prodotti/pennerigate.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Barilla - Penne Rigate 500gr</h5>
            <p class="card-text">€0.89</p>
            <div class="d-flex flex-wrap">
              <a href="#" class="btn btn-outline-secondary d-flex">
                <span class="material-icons-outlined">edit</span>
                Modifica
              </a>
              <a href="#" class="btn btn-danger d-flex">
                <span class="material-icons-outlined">delete</span>
                Elimina
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
