// Grid Header
.grid-header {
  padding: 0.5rem 1.5rem;
  border: 1px solid rgb(206, 212, 218);
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  background-color: rgb(248, 249, 250);


  input {
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    padding: 6px 10px;

    &:focus {
      border-color: #86b7fe;
      outline: 0;
      box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    }
  }
}

// Grid Body
.grid-body {
  padding: 1.5rem;
  margin-top: -1px; // avoids overlapping borders
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  border: 1px solid rgb(206, 212, 218);

  .card {
    margin-bottom: 1.5rem;

    &-title{
      font-size: 1rem;
      color: #7a7a7a;
      margin-bottom: 0.1rem;
    }
    &-text{
      margin-bottom: 0.5rem;
      font-weight: 500;
    }
  }

  // Buttons
  .btn {
    font-size: 0.9rem;
    margin-right: 0.5rem;
    min-width: 6.5rem;
    margin-bottom: 0.5rem;

    span.material-icons-outlined {
      vertical-align: top;
      font-size: 1.3rem;
    }
  }
}
