section {
  padding: 2rem 0;

  form {
    width: 20%;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 4rem;

    .form-signin input[type="username"] {
      margin-bottom: -1px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}


