.fa-user {
  font-size: 1.7rem;
  color: grey;
}
.ms_dropdown-menu-user {
  left: unset;
  right: 0;
}
li.nav-item {
  display: flex;
  align-items: center;

  a.nav-link {
    padding-left: 0.5rem;
    padding-right: 1.5rem;

  }
  &.user-item {
    padding-left: 1rem;
  }
}
