<!-- SECTION: Grid-Articles -->
<section id="grid-articles" class="py-4">
  <!-- HEADING -->
  <div class="container mb-4">
    <div class="row align-items-center">
      <h1 class="col">Products Availables</h1>
      <div class="col-3">
        <button class="btn btn-outline-secondary ms-2">Export</button>
        <button class="btn btn-outline-secondary ms-2">Import</button>
        <button class="btn btn-primary ms-2">Create</button>
      </div>
    </div>
  </div>
  <div class="container">
    <!-- GRID - HEADER -->
    <div class="row grid-header justify-content-between align-items-center">
      <div class="col-4">
        <!-- Input: Description -->
        <input type="text" placeholder="Search..." [(ngModel)]="filter" (keyup.enter)="refresh()" >
      </div>
      <div class="col-4">
        <div class="d-flex justify-content-between">
          <!-- Select - All -->
          <select class="form-select">
            <option selected>All</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
          <!-- Select - New -->
          <select class="form-select ms-3">
            <option selected>New</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
      </div>
    </div>
    <!-- GRID - BODY -->
    <div class="row grid-body">
      <!-- Product CARD -->
      <table id="articles" class="table table-hover mb-5">
        <thead>
          <tr>
            <th scope="col">CodArt</th>
            <th scope="col">Description</th>
            <th scope="col">Um</th>
            <th scope="col">CodStat</th>
            <th scope="col">Quantity</th>
            <th scope="col">Weight(KG/LT)</th>
            <th scope="col">IdArtStatus</th>
            <th scope="col">Price</th>
            <th scope="col">Active</th>
            <th scope="col">Date</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody *ngIf="error$.message != errorMessages.UnavailableServer">
          <tr *ngFor="let article of articles$">
            <td>{{ article.codArt }}</td>
            <td>{{ article.description }}</td>
            <td>{{ article.um }}</td>
            <td>{{ article.codStat }}</td>
            <td>{{ article.pcsCart }}</td>
            <td>{{ article.netWeight }}</td>
            <td class="text-center">
              <span class="badge rounded-pill"
                [ngClass]="{'bg-success': article.idArtStatus === artStatus.Active,
                'bg-warning text-dark': article.idArtStatus === artStatus.Suspended,
                'bg-danger': article.idArtStatus === artStatus.Deleted}">
                  {{ article.idArtStatus }}
              </span>
            </td>
            <td>{{ article.price | currency:"EUR" }}</td>
            <td>{{ article.active }}</td>
            <td>{{ article.creationDate | date:"dd-MM-yyyy" }}</td>

            <!-- Buttons Group: DELETE, MODIFY, INFO, DETAIL -->
            <td class="btn-group">
              <button type="button" class="btn btn-light text-danger me-3"
                (click)="deleteArt(article.codArt)">
                Delete
              </button>
              <button type="button" class="btn btn-light fw-bold" data-bs-toggle="dropdown" aria-expanded="false">
                ...
              </button>
              <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" href="#">Detail</a></li>
                <li><a class="dropdown-item" href="#">Info</a></li>
                <li><a class="dropdown-item" (click)="updateArt(article.codArt)">Edit</a></li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>

      <!-- *** ALERT MESSAGE *** -->
      <!-- Operation Success -  -->
      <div *ngIf="respObj$.code" id="successAlert" class="alert alert-success" role="alert">
        {{ respObj$.message }}
      </div>
      <!-- Operation Error -->
      <div *ngIf="error$.message != ''" id="errorAlert" class="alert alert-danger" role="alert">
        {{ error$.message }}
      </div>

      <!-- *** PAGINATION *** -->
      <ul *ngIf="error$.code !== statusCodes.UnavailableServer
                  &&
                 error$.code !== statusCodes.NotFound"
          class="pagination justify-content-end">

        <!-- Previous Page -->
        <li class="page-item" [ngClass]="{'disabled pe-none': pagination$.currentPage==1}">
          <a class="page-link" (click)="pageChange(pagination$.currentPage-1)">Previous</a>
        </li>

        <!-- Loop: Page Number - NEW VERSION -->
        <ng-template ngFor let-pageNr [ngForOf]="pagination$.totalPagesArray">
          <li *ngIf="shouldDisplayPageNr(pageNr)" [ngClass]="{'active': isCurrentPageNr(pageNr)}" class="page-item">
            <a class="page-link" #pageNrElement (click)="pageChange(pageNr)">
              {{ displayPageNr(pageNr) }}
              <!-- {{ pageNr }} -->
            </a>
          </li>
        </ng-template>

        <!-- Next Page -->
        <li class="page-item" [class]="pagination$.currentPage==pagination$.totalPages ? 'disabled pe-none' : ''">
          <a class="page-link" (click)="pageChange(pagination$.currentPage+1)">Next</a>
        </li>

      </ul>
      <!-- *** PAGINATION - END *** -->

    </div>
  </div>
</section>
