<!-- SECTION: Grid-Articles -->
<section id="grid-articles" class="py-4">
  <!-- HEADING -->
  <div class="container mb-4">
    <div class="row align-items-center">
      <h1 class="col">Products Availables</h1>
      <div class="col-3">
        <button class="btn btn-outline-secondary ms-2">Export</button>
        <button class="btn btn-outline-secondary ms-2">Import</button>
        <button class="btn btn-primary ms-2" (click)="goToCreate()">+ New</button>
        <button class="btn btn-success  ms-2" (click)="switchView()">
          <i class="fa-solid fa-border-all"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="container">
    <!-- GRID - HEADER -->
    <div class="row grid-header justify-content-between align-items-center">
      <div class="col-5">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <!-- Input: Search... -->
          <input type="text" placeholder="Search..."
            formControlName="filter" class="form-control"
            [ngClass]="{'is-invalid': form.get('filter')?.invalid && (form.get('filter')?.touched || form.get('filter')?.dirty)}">
          <app-validation-messages
            [formCtrl]="form.get('filter')"
            [feErrorMsgs]="FE_ERROR_MSGS['filter']">
          </app-validation-messages>
          <!-- Select: Filter Type -->
          <select id="filterType" class="form-select" name="filterType"
            formControlName="filterType"
            (change)="updateFilterValidators(form.get('filterType')?.value)">
            @for (filterTypeItem of filterTypeList; track filterTypeItem) {
              <option
                [ngValue]="filterTypeItem.value">
                {{filterTypeItem.key}}
              </option>
            }
          </select>
        </form>
      </div>

      <div class="col-4">
        <div class="d-flex justify-content-between">
          <!-- Select - All -->
          <select class="form-select">
            <option selected>All</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
          <!-- Select - New -->
          <select class="form-select ms-3">
            <option selected>New</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
      </div>
    </div>
    <!-- GRID - BODY -->
    <div class="row grid-body">

      <!-- *** ARTICLES *** -->
      @if (viewModel$ | async; as vm) {
        <ng-container id="articles-container">

          <!-- *** Spinner - Local Loading *** -->
          <app-spinner [isVisible]="vm.showLoading"></app-spinner>

          <!-- Article Result List - GRID / TABLE -->
          @if (vm.showData) {

            <!-- VIEW-MODE: Grid -->
            @if (vm.viewMode === 'grid') {
              @if (vm.articles.length > 0) {
                <div
                  class="row row-cols-1 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 row-cols-xl-6 g-3">
                  @for (article of vm.articles; track article) {
                    <app-generic-card
                      [data]="article"
                      [fieldsConfig]="cardFieldsConfig"
                      (edit)="goToEdit($event)"
                      (delete)="onDelete($event)">
                    </app-generic-card>
                  }
                </div>
              }
              <!-- No Result Grid -->
              @if (vm.articles.length === 0) {
                <div class="text-center py-4">
                  <i class="fa-solid fa-triangle-exclamation mb-2 me-2"></i>
                  <span class="fw-bold text-secondary">{{ NO_RESULT_MSG_KEY | translate }}</span>
                </div>
              }
            }

            <!-- VIEW-MODE: Table -->
            @if (vm.viewMode === 'table') {
              <app-articles-table
                [data]="vm.articles"
                (edit)="goToEdit($event)"
                (delete)="onDelete($event)"
                (detail)="goToDetail($event)">
              </app-articles-table>
            }

            <!-- *** PAGINATION *** -->
            @if (vm.showPagination) {
              <app-pagination
                [pagination]="vm.pagination"
                [maxPagBtns]="MAX_TOT_PAG_BTNS"
                (pageChange)="pageChange($event)">
              </app-pagination>
            }
          }
        </ng-container>
      }
    </div>
  </div>
</section>
