// Grid Header
.grid-header {
  padding: 0.5rem 1.5rem;
  border: 1px solid rgb(206, 212, 218);
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  background-color: rgb(248, 249, 250);

  input {
    // border: 1px solid #ced4da;
    border-radius: 0.25rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding: 6px 10px;

    &:focus {
      // border-color: #86b7fe;
      outline: 0;
      box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    }
  }

  select{
    &#filterType {
    display: inline-block;
    width: unset;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  }
}

// Grid Body
.grid-body {
  padding: 1.5rem;
  margin-top: -1px; // avoids overlapping borders
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  border: 1px solid rgb(206, 212, 218);

  td span {
    display: inline-block;
    width: 75%;
  }
}
