version: '3.3'

# Definizione delle reti esterne ntpgsql e ntmongo
networks:
  ntpgsql:
    external: true
  ntmongo:
    external: true

services:
  # Servizio router per configurare il routing tra le reti
  router:
    image: alpine
    container_name: router
    command: sh -c "
      apk add --no-cache iptables &&
      iptables -t nat -A POSTROUTING -o eth0 -j MASQUERADE &&
      iptables -A FORWARD -i eth0 -o eth1 -j ACCEPT &&
      iptables -A FORWARD -i eth1 -o eth0 -j ACCEPT &&
      iptables -t nat -A POSTROUTING -o eth1 -j MASQUERADE &&
      sleep infinity"
    networks:
      ntpgsql:
      ntmongo:
    cap_add:
      - NET_ADMIN
    restart: unless-stopped
