version: '3.3'

# Definizione della rete esterna ntmongo
networks: 
  ntmongo:
    external: true

services:
  # Servizio MongoDB
  mongodb:
    build:
      context: .
    restart: unless-stopped
    container_name: mongodb
    volumes: 
      - data-volume:/data/db
    networks: 
      ntmongo:
        ipv4_address: 172.22.0.5
    ports:
      - target: 27017
        published: 27017
        protocol: tcp
        mode: host
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: root
       
# Definizione del volume per MongoDB
volumes:
  data-volume:
