/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/dist/css/bootstrap.css';
@import '@fortawesome/fontawesome-free/css/all.min.css';
@import 'material-icons/iconfont/material-icons.css';

h1, h2, h3, h4, h5, h6, p, li {
  margin: 0;
  padding: 0;
}

ul, ol, dl {
  list-style-type: none;
  padding: 0;
}

html, body { height:100% }

.page-item { cursor: pointer }

/* Rimuove il focus per i click del mouse */
input:focus {
    outline: unset !important;
    box-shadow: none !important;
}

.global-overlay {
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.7);
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  pointer-events: all;
}

// Local Spinner Wrapper
.spinner-wrapper {
  display: flex;
  align-items: center;

  .spinner-text {
    margin-left: 1rem;
    font-size: 1.3rem
  }
}
