/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';
@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import '~material-icons/iconfont/material-icons.css';

h1, h2, h3, h4, h5, h6, p, li {
  margin: 0;
  padding: 0;
}

ul, ol, dl {
  list-style-type: none;
  padding: 0;
}

html, body { height:100% }

.page-item { cursor: pointer }

