
<!-- SECTION: Article-Manager -->
<section id="article-manager" class="py-4 container">
  <div class="row g-5 justify-content-md-center">
    <div class="col-md-7 col-lg-8">
      <h4 class="mb-3">{{ title }}</h4>

      <!-- FORM -->
      <!-- <form class="needs-validation" novalidate> -->
        <div class="row g-3">

          <!-- Codart -->
          <div class="col-sm-6">
            <label for="codart" class="form-label">Codart</label>
            <input type="text" class="form-control" id="codart"
                   [(ngModel)]="article.codArt" required>
            <div class="invalid-feedback">
              Valid codart is required.
            </div>
          </div>

          <!-- Barcode -->
          <div class="col-sm-6">
            <label for="barcode" class="form-label">Barcode</label>
            <input type="text" class="form-control" id="barcode"
                   [(ngModel)]="article.barcodes[0].barcode" disabled required>
            <div class="invalid-feedback">
              Valid barcode is required.
            </div>
          </div>

          <!-- Description -->
          <div class="col-12">
            <label for="description" class="form-label">Description</label>
            <textarea class="form-control" id="description"
            [(ngModel)]="article.description" required></textarea>
            <div class="invalid-feedback">
              Valid description is required.
            </div>
          </div>

          <!-- Unit of Measurement -->
          <div class="col-md-6">
            <label for="um" class="form-label">Unit of measurement</label>
            <select class="form-select" id="um"
                    [(ngModel)]="article.um" required>
              <option value="PZ">Pieces</option>
              <option value="LT">Liters</option>
              <option value="KG">Kilograms</option>
            </select>
            <div class="invalid-feedback">
              Please select a valid unit of measurement.
            </div>
          </div>

          <!-- Vat -->
          <div class="col-md-6">
            <label for="vat" class="form-label">Vat</label>
            <select class="form-select" id="vat" [(ngModel)]="article.vat.idVat" required>
              <option [ngValue]="vat.idVat" *ngFor="let vat of vatList">{{ vat.description }}</option>
            </select>
            <div class="invalid-feedback">
              Please provide a valid tax-rate.
            </div>
          </div>

          <!-- Quantity (PcsCart) -->
          <div class="col-sm-3">
            <label for="pcscart" class="form-label">Quantity</label>
            <input type="number" class="form-control" id="pcscart"
                   [(ngModel)]="article.pcsCart" min=1 max=99 required>
            <div class="invalid-feedback">
              Valid quantity is required.
            </div>
          </div>

          <!-- Net Weight -->
          <div class="col-sm-3">
            <label for="netweight" class="form-label">Net Weight</label>
            <input type="number" step="0.01" class="form-control" id="netweight"
                   [(ngModel)]="article.netWeight" required>
            <div class="invalid-feedback">
              Valid weight is required.
            </div>
          </div>

          <!-- Price -->
          <div class="col-sm-3">
            <label for="price" class="form-label invisible">Price</label>
            <input type="text" class="form-control" id="price" placeholder="Price" required>
            <div class="invalid-feedback">
              Valid price is required.
            </div>
          </div>

          <!-- Currency -->
          <div class="col-md-3">
            <label for="currency" class="form-label invisible">Currency</label>
            <select class="form-select" id="currency" required>
              <option value="">EUR</option>
              <option value="">USD</option>
              <option value="">GBP</option>
            </select>
            <div class="invalid-feedback">
              Please provide a valid currency.
            </div>
          </div>

          <!-- Category -->
          <div class="col-md-6">
            <label for="category" class="form-label">Category</label>
            <select class="form-select" [(ngModel)]="article.category.id" id="category" required>
              <option [ngValue]="category.id" *ngFor="let category of categories">{{ category.id }} - {{ category.description }}</option>
            </select>
            <div class="invalid-feedback">
              Please select a valid category.
            </div>
          </div>

          <!-- Status -->
          <div class="col-md-6">
            <label for="artStatus" class="form-label">Status</label>
            <select class="form-select" id="artStatus"
                    [(ngModel)]="article.idArtStatus" required>
              <option value="1">Active</option>
              <option value="2">Suspended</option>
              <option value="3">Deleted</option>
            </select>
            <div class="invalid-feedback">
              Please provide a valid state.
            </div>
          </div>

          <!-- Image -->
          <div class="col-12">
            <label for="artImage" class="form-label">Image</label>
            <div class="input-group has-validation">
              <span class="input-group-text">Select File</span>
              <input type="text" class="form-control" id="artImage" placeholder="No file selected" required>
            <div class="invalid-feedback">
                Your article image is required.
              </div>
            </div>
          </div>
        </div>

        <!-- *** ALERT MESSAGE *** -->
        <!-- Operation Success -  -->
        <div *ngIf="respStatusCode == 200 && successMessage" id="successAlert" class="alert alert-success mt-4" role="alert">
          {{ successMessage }}
        </div>
        <!-- Operation Error -->
        <div *ngIf="respStatusCode != 200 && respStatusCode != -1" id="errorAlert" class="alert alert-danger mt-4" role="alert">
          {{ errorMessage }}
        </div>

        <!-- SUBMIT - Save Article -->
        <button class="btn btn-primary mt-4" (click)="saveArt()">Save Article</button>

      <!-- </form> -->

    </div>
  </div>
</section>
